<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= @product.title %></h1>
  <%= image_tag @product.image_url, class: 'img-fluid' %>
  <br />
   <%= link_to 'Preview As Shopper...', product_path(current_product), class: 'btn btn-warning float-right' %>
  <br class="clr" />
</div>