<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Community</h1>
  <hr />

  <p>
    One day this will be a forum like section of this web app! However, I currently don't have the time to make both a working + pretty page, so I opted for some filler text where this will one day go! 
  </p>
</div>