<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Behind the Lens</h1>
  <hr />

  <p>
    I might have time to make a fancy team page before this project gets turned in, but just in case I can't. Here's some filler text!
  </p>
</div>