<div class="hero">
  <br />
  <div class="frosty col-4 offset-1 text-center">
    <br />
    <h1>For more information</h1>
    <br />
    <h2>Click Below</h2>
    <br />
    <%= link_to 'More Pls', packages_path, class: 'btn btn-outline-warning' %>
    <br /> <br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Photography Packages</h3>
    <br />
    <p>Need your photos taken? Take a look at our photography packages!</p>
  </div>
  
  <div class="col-12 col-sm">
    <h3>Products</h3>
    <br />
    <p>Want one of our photos on a mug, shirt, or print? Check this out to see what we have in stock!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community!</h3>
    <br />
    <p>Wanna talk with other photographers and models about techniques, this might be the community for you!</p>
  </div>
</div>